@model IMS.Models.IMS_Users
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_IMS.cshtml";
}

<link href="~/assets/css/custom.css" rel="stylesheet" />

<div class="rightpanel-height change-password">
    <h5 class="content-title mb-3">Change Password</h5>
    <div class="card">
        <div class="card-body card-height">
            @using (Html.BeginForm("ChangePassword", "Add_User", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    <label  class = "control-label col-md-2 form-label">Password</label>
@*                    @Html.LabelFor(model => model.userPassword, new { @class = "control-label col-md-2 form-label" })
*@                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.userPassword, new { @class = "form-control", placeholder = "Enter your old password" })
                        @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2 form-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter your new password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-4">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label col-md-2 form-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Re-enter your new password" })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="border-top"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="action-btn">Submit</button>
                    </div>
                </div>
            }
            </div>
        </div>
        </div>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
